* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(22, 29, 47);
}

hr {
    margin-top: 15px;
    margin-bottom: 10px;
}

span {
    padding-left: 15px;
}

a {
    text-decoration: none;
}

.container {
    /* width: 100%; */
    height: 100vh;
    background-image: url("https://raw.githubusercontent.com/D3Ext/aesthetic-wallpapers/main/images/cliff-edge.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.container-button-1 {
    position: absolute;
    top: 520px;
    left: 30px;
    z-index: 2147483647;
}

.barra-2 {
    position: absolute;
    top: 490px;
    left: 15px;
    margin-top: 10px;
    padding: 5px;
    height: 65px;
    width: 57em;
    background-color: rgb(0, 0, 0, 0.5);
}

/* FALTA PONERLOS */
.left {
    height: 130px;
    width: 130px;
    padding: 5px;
    margin: 5px;
    position: absolute;
    top: 220px;
    left: 5rem;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.right {
    height: 130px;
    width: 130px;
    padding: 5px;
    margin: 5px;
    position: absolute;
    top: 220px;
    left: 45rem;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}

/* FALTA PONERLOS */

/* :nth-child(4n+5) */
.barrita {
    width: 350px;
    height: 515px;
    position: absolute;
    top: 50px;
    left: 59rem;
    background-color: rgb(44, 43, 43, 0.5);
    box-shadow: 15px 15px 15px rgb(0, 0, 0, 0.2);
    padding: 5px;
    text-align: center;
    overflow: auto;
    backdrop-filter: blur(15px);
    border-radius: 5px;
}

.card {
    width: 330px;
    height: 114px;
    padding: 5px;
    overflow: hidden;
}

.barrita .card a {
    width: 100%;
    height: 100%;
}


.barrita .card img {
    padding: 5px;
    width: 130px;
    height: 100px;
    margin-right: 250px;
}

.barrita .card h1 {
    font-size: 15px;
    margin-top: -95px;
    margin-left: 90px;
}

/* PARTE HECHA CREO -2 ESTILOS */
.barrita::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(30, 30, 30, 0.2);
}


.barrita::-webkit-scrollbar-thumb {
    background-color: rgb(87, 87, 87, 0.5);
    width: 10px;
    border-radius: 25px;
    border: none;
}


.velocidad {
    position: absolute;
    left: 43rem;
    top: 70px;
    background-color: rgba(30, 30, 30, .8);
    width: 180px;
    height: 150px;
    padding: 5px;
    overflow: auto;
    font-size: 12px;
    text-align: center;
}

.velocidad li {
    width: 100%;
    opacity: 0.8;
    padding: 15px;
    justify-content: center;
}

.velocidad li:hover {
    opacity: 1;
    background-color: rgba(141, 141, 141, .4);
}

.velocidad::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(30, 30, 30, 0.2);
}


.velocidad::-webkit-scrollbar-thumb {
    background-color: rgb(87, 87, 87, 0.5);
    width: 10px;
    border-radius: 25px;
    border: none;
}

/* CLASS DEL HTML */

/* ID DEL HTML */


#barra {
    position: absolute;
    top: 500px;
    left: 30px;
    height: 5px;
    width: 55em;
    margin: 5px;
    cursor: pointer;
}


#barra-1 {
    position: absolute;
    top: 10px;
    left: 9.7rem;
    height: 5px;
    width: 5em;
    margin: 5px;
    cursor: pointer;
    display: inline;
}


.progress-area,
#progreso {
    appearance: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 100%;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    cursor: pointer;
    outline: none;
}

.progress-area::-webkit-slider-thumb,
#progreso::-webkit-slider-thumb {
    appearance: none;
    height: 15px;
    width: 15px;
    background: rgb(255, 17, 0);
    border-radius: 50%;
    cursor: pointer;
}

.progress-area::-webkit-slider-thumb {
    background: rgba(255, 255, 255);
}

#barra-progreso {
    position: absolute;
    height: 100%;
    width: 1%;
    background: rgb(255, 17, 0);
}

#barra-progreso-1 {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(255, 17, 0);
}

#button-3 {
    display: inline;
}


#button-4 {
    position: absolute;
    left: 55rem;
    top: 65px;
}

#button-5 {
    position: absolute;
    top: 520px;
    left: 55rem;
}

#video {
    padding-top: 50px;
    margin-left: 15px;
    width: 57em;
}

.progressAreaTime {
    position: absolute;
    color: rgba(255, 255, 255);
    font-size: 16px;
    top: 2.5px;
    padding-top: 5px;
    left: 24rem;
    width: 100px;
}


#button-2-1,
#button-1,
#button-1-1,
#button-2,
#button-3,
#button-4,
#button-5,
#button-3-1,
#button-3-3,
#button-3-2 {
    margin: 5px;
    border: none;
    background-color: rgba(22, 29, 47, 0.0);
    color: rgba(255, 255, 255, 0.8);

}


#progreso:hover,
.progress-area:hover,
#barra-progreso:hover,
#barra-progreso-1:hover {
    opacity: 1;
}

video::-webkit-media-controls {
    display: none;
}

/* ULTIMO SIEMPRE ULTIMO */

.none-2 {
    display: none;
}

.none-3 {
    display: inline;
}

.active {
    background-color: rgba(141, 141, 141, .4);
}

/* ULTIMO SIEMPRE ULTIMO */

